*{
  margin: 0;
  padding: 0;
}

.tester{
  width: 100%;
  padding: 20px;
}

.tester strong{
  color: red;
}

/* Mix */
.relative{
  position: relative;
}

/* Typography */
body{
  font-family: 'Roboto','Helvetica',Arial,sans-serif;
  font-size: 16px; grandezza di partenza
}

h1{
  font-size: 3.9em; /* Circa 62px su base 16px */
}

h2{
  font-size: 2.2em; /* Circa 36px su base 16px*/
}

h3{
  font-size: 1.2em;  /* Circa 18px su base 16px*/
}

.medium_text{
  font-size: 1.4em;
}

/* Colors */
body{
  color: #031B4E;
}

.blue_color{
  color: #0069FF;
}

.blue_dark_color{
  color: #031B4E;
}

.white_color{
  color: #FFF;
}

.bg_dark_blue{
  background: #031B4E;
}

/* Links */
a:link{
  text-decoration: none;
  color: #031B4E;
}

a.arrow_link{
  position: relative;
  display: inline-block;
}
a.arrow_link::after{
  content: '>';
  display: inline-block;
  margin-left: 10px;
}

a.blue_color{
  color: #0069FF;
}
a.blue_color:hover,
a.blue_color:focus,
a.blue_color:active{
  color: #005FE6;
}

a.grey_black_link{
  color: #031B4E;
  opacity: 0.6;
  transition: opacity 1s;
}
a.grey_black_link:hover{
  opacity: 1;
}

a.grey_white_link{
  color: #FFF;
  opacity: 0.6;
  transition: opacity 1s;
}
a.grey_white_link:hover{
  opacity: 1;
}

/* Margin */
margin_lt_10{
  margin-left: 10px;
}
margin_rt_10{
  margin-right: 10px;
}
margin_top_10{
  margin-left: 10px;
}
margin_bottom_10{
  margin-right: 10px;
}
