*{
  margin: 0;
  padding: 0;
}

.tester{
  width: 100%;
  padding: 20px;
}

.tester strong{
  color: red;
}

/* Mix */
.relative{
  position: relative;
}

/* Typography */
body{
  font-family: 'Roboto','Helvetica',Arial,sans-serif;
  font-size: 16px; grandezza di partenza
}

h1{
  font-size: 3.9em; /* Circa 62px su base 16px */
}

h2{
  font-size: 2.2em; /* Circa 36px su base 16px*/
}

h3{
  font-size: 1.2em;  /* Circa 18px su base 16px*/
}

.medium_text{
  font-size: 1.4em;
}

/* Colors */
body{
  color: #031B4E;
}

.blue_color{
  color: #0069FF;
}

.blue_dark_color{
  color: #031B4E;
}

.white_color{
  color: #FFF;
}

.bg_dark_blue{
  background: #031B4E;
}

/* Links */
a:link{
  text-decoration: none;
  color: #031B4E;
}

a.arrow_link{
  position: relative;
  display: inline-block;
}
a.arrow_link::after{
  content: '>';
  display: inline-block;
  margin-left: 10px;
}

a.blue_color{
  color: #0069FF;
}
a.blue_color:hover,
a.blue_color:focus,
a.blue_color:active{
  color: #005FE6;
}

a.grey_black_link{
  color: #031B4E;
  opacity: 0.6;
  transition: opacity 1s;
}
a.grey_black_link:hover{
  opacity: 1;
}

a.grey_white_link{
  color: #FFF;
  opacity: 0.6;
  transition: opacity 1s;
}
a.grey_white_link:hover{
  opacity: 1;
}

/* Buttons*/
.btn_white_blue{
  color: #0069FF;
  border:1px solid #0069FF;
  background: #FFF;
  transition: background 0.5s, color 0.5s;
}
.btn_white_blue:hover,
.btn_white_blue:active,
.btn_white_blue:focus{
  color: #FFF;
  border:1px solid #0069FF;
  background: #0069FF;
}

.btn_white_opacity{
  color: #0069FF;
  opacity: 1;
  transition: opacity 0.5s;
}
.btn_white_opacity:hover,
.btn_white_opacity:active,
.btn_white_opacity:focus{
  color: #0069FF;
  opacity: 0.8;

}

.btn_blue_opacity{
  color: #FFF;
  background: #0069FF;
  border: 0;
  opacity: 0.7;
  transition: opacity 0.5s;
}
.btn_blue_opacity:hover,
.btn_blue_opacity:active,
.btn_blue_opacity:focus{
  color: #FFF;
  background: #0069FF;
  border: 0;
  opacity: 1;
}

.btn_white_shadow{
  border:0;
  box-shadow: 1px 1px 2px #CCC;
  opacity:0.8;
  font-weight: bold;
  transition: background 0.5s;
}
.btn_white_shadow:hover,
.btn_white_shadow:active,
.btn_white_shadow:focus{
  border:0;
  box-shadow: 1px 1px 2px #CCC;
  opacity:0.8;
  font-weight: bold;
  background: #CCC;
}

/* Margin - Padding */
margin_lt_10{
  margin-left: 10px;
}
margin_rt_10{
  margin-right: 10px;
}
margin_top_10{
  margin-left: 10px;
}
margin_bottom_10{
  margin-right: 10px;
}

margin_lt_30{
  margin-left: 30px;
}
margin_rt_30{
  margin-right: 30px;
}
margin_top_30{
  margin-left: 30px;
}
margin_bottom_30{
  margin-right: 30px;
}

margin_lt_60{
  margin-left: 60px;
}
margin_rt_60{
  margin-right: 60px;
}
margin_top_60{
  margin-left: 60px;
}
margin_bottom_60{
  margin-right: 60px;
}

padding_lt_10{
  padding-left: 10px;
}
padding_rt_10{
  padding-right: 10px;
}
padding_top_10{
  padding-left: 10px;
}
padding_bottom_10{
  padding-right: 10px;
}

padding_lt_30{
  padding-left: 30px;
}
padding_rt_30{
  padding-right: 30px;
}
padding_top_30{
  padding-left: 30px;
}
padding_bottom_30{
  padding-right: 30px;
}

padding_lt_60{
  padding-left: 60px;
}
padding_rt_60{
  padding-right: 60px;
}
padding_top_60{
  padding-left: 60px;
}
padding_bottom_60{
  padding-right: 60px;
}
